{% extends 'YearbookMainBundle::layout.html.twig' %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<form action="{{ path('yearbook_user_contactAdmin') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}