{% extends 'YearbookMainBundle::layout.html.twig' %}
{% block content %}
    {% if secondEmail.state %}
        Váš email je:
        <b>{{ secondEmail.email }}</b>
    {% else %}
        <div class="flash-message">
            {% for flashMessage in app.session.flashbag.get('email-notice') %}
                {{ flashMessage }}
            {% endfor %}
        </div>
        {{ secondEmail.message }}
    {% endif %}

    {% if form is defined %}
        {% if secondEmail.state %}
            <div class="changeEmailForm">
                <form action="{{ path('yearbook_user_change_emailPost') }}" method="post">
                    <input type="hidden" name="unsetEmail" value=true>
                    <input type="submit" value="Změnit email">
                </form>
            </div>
        {% else %}
            <div class="changeEmailForm">
                <form action="{{ path('yearbook_user_change_emailPost') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <input type="submit" value="Odeslat"/>
                </form>
            </div>
        {% endif %}

    {% endif %}
{% endblock %}
