{% extends 'YearbookMainBundle::layout.html.twig' %}
{% block content %}
    <div class="flash-message">
        {% for flashMessage in app.session.flashbag.get('email-notice') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
        Prostě kecy nějaké asi.. / Zvlášť pro ROLE_ADMIN a zvlášť pro ROLE_USER
{% endblock %}