<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Ročenky</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navBar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <div class="notifications">
        <div class="singleNotification">
            {% if app.user %}
                {# nic se nestane #}
            {% if app.user.email %}
                {# nic se nestane #}
            {% else %}
                {# Pokud nemá připojený email k účtu, bude ho to upozorňovat #}
                <a href="{{ path('yearbook_user_change_email') }}" class="linkNoSelected">
                Ke svému účtu nemáte přiřazený žádný kontaktní email.
                Pokud například zapomenete heslo, nebude možnost Vám zaslat nové.
                Neodkládejte prosím tuto volbu.
                </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        {% if app.user %}
            <ul class="logout">
                <li><a href="/logout">Odlásit se</a> </li>
            </ul>
        {% endif %}
        {% block bottom %}
        {% endblock %}
    </div>
    </body>
</html>
