{% extends 'YearbookMainBundle::layoutAdmin.html.twig' %}
{% block content %}
    Na této stránce bude možno vyhledávat

    <div class="search">
        <form action="{{ path('yearbook_admin_findPost') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="Odeslat"/>
        </form>
    </div>
{% endblock %}