{% extends 'YearbookMainBundle::layoutAdmin.html.twig' %}
{% block content %}
    Toto bude nejobsáhleší strana, ve které bude moci administrátor krok po kroku přidat novou zakázku. tzn. 1)založení organizace 2)Založení ročenky 3)registrování nových uživatelů
    ROLE_USERs do dané organizace - zvolí počet a vygenerují se uživatelská jména a hesla.
{% endblock %}