{% extends 'YearbookMainBundle::layoutAdmin.html.twig' %}
{% block title %}Přehled organizací{% endblock %}
{% block content %}
    {% if form is defined %}
        <div class="form">
            <form action="{{ path('yearbook_admin_organizationPost') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input type="submit" value="Odeslat"/>
            </form>
        </div>
    {% endif %}


    <div class="queryTable">
        {% include 'YearbookMainBundle:QueryTable:table.html.twig' %}
    </div>
{% endblock %}