{% extends '::base.html.twig' %}

    {% block logged %}{% endblock %}
    {% block title %}Rozcestník{% endblock %}
    {% block navBar %}
        <div id="guidePost">
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('yearbook_admin_index') }}">Administrátorské rozhraní</a></li>
                {% endif %}
                {% if app.user %}
                    <li><a href="#">Přejít k vytváření ročenek</a></li>
                    <li><a href="#">Nahrajte fotografie</a></li>
                    <li><a href="{{ path('yearbook_user_index') }}">Vaše nastavení</a></li>
                    <li class="bottomNav"><a href="/logout">Odhlásit</a></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}


