

{% extends '::base.html.twig' %}
    {% block title %}
        Úprava údajů
    {% endblock %}
    {% block navBar %}
        {% if app.user %}
        <div id="navigation">
            <ul>
                <li><a href="{{ path('fos_user_change_password') }}">Změna hesla</a></li>
                <li><a href="{{ path('yearbook_user_change_email') }}">Nastavení emailu</a></li>
                <li><a href="{{ path('yearbook_user_contactAdmin') }}">Kontaktovat administrátora</a></li>
                <li class="bottomNav"><a href="{{ path('yearbook_main_homepage') }}">Zpět na rozcestník</a></li>
            </ul>
        </div>
        {% endif %}
    {% endblock %}
    {% block body %}
        {% if app.user %}
            <h2>Vítejte, jste přihlášen jako {{ app.user.username }} {% if is_granted('ROLE_ADMIN') %}- Admin{% endif %}</h2>
        {% else %}
            
        {% endif %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block fos_user_content %}
        {% endblock %}
        {% block fos_user_resetting %}
        {% endblock %}
    {% endblock %}



