{% extends '::base.html.twig' %}
{% block title %}
    Administrátorské rozhraní
{% endblock %}
{% block navBar %}
    {% if app.user %}
        <div id="navigationAdmin">
            <ul>
                <li><a href="{{ path('yearbook_admin_yearbookGuide') }}">Průvodce přidáním nové zakázky</a></li>
                <li><a href="{{ path('yearbook_admin_user') }}">Uživatelé</a></li>
                <li><a href="{{ path('yearbook_admin_organization') }}">Organizace</a></li>
                <li><a href="{{ path('yearbook_admin_yearbook') }}">Ročenky</a></li>
                <li><a href="{{ path('yearbook_admin_find') }}">Vyhledávání</a></li>
                <li><a href="{{ path('yearbook_main_homepage') }}">Zpět na rozcestník</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="contentAdmin">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
