{% if content is defined %}

    <table>
        <thead>
        {% for v in content if once is not defined %}
            {% set once='true' %}
            <tr>
            {% for key in v|keys %}
                <th>{{ key }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </thead>
        <tbody>
        {% for k in content %}
            <tr>
            {% for value in k %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
